#about {
  background: #edf0f4;
  padding: 0 140px;
}
.about-us {
  display: flex;
  justify-content: space-between;
}
.about-us-content {
  padding-top: 160px;
}

span.title {
  font-family: Sulphur Point;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #384b5e;
}

.about-us-content {
  width: 558px;
}
p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #384b5e;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}
.description p {
  width: 685px;
  margin-top: 24px;
  margin-bottom: 80px;
}
.description svg {
  margin-right: 100px;
}
