.contact-us-btn,
.contact-us-btn:hover,
.contact-us-btn:focus {
  width: 174px;
  height: 56px !important;
  background: #ec5f60 !important;
  border-radius: 50px !important;
  border: unset !important;
  color: white !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btn-text {
  margin-top: -5px;
}


@media (max-width: 1025px) {
  .home-page {
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .home-page-body {
    min-height: unset !important;
    height: fit-content !important;
  }

  .gtera-wrapper {
    margin-left: 0;
  }

  .waiting {
    background-image: unset;
    background-repeat: no-repeat;
    width: 100%;
    height: unset;
    background-size: 100%;
    padding: unset;
  }

  .paragraph-title {
    font-size: 48px;
    line-height: 48px;
    width: unset;
    margin-bottom: 26px;
  }

  .sandwatch-icon {
    display: none;
  }

  .gtera-logo {
    margin-bottom: 88px;
  }

  .ant-progress-line {
    width: 100%;
    position: relative;
    bottom: unset;
    text-align: center;
    margin-top: 40px;
  }
}