#intro {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

#intro .content {
  width: 574px;
  margin-top: 80px;
  /* align-self: center; */
}

#intro .main-title {
  font-family: Sulphur Point;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  /* identical to box height, or 111% */

  color: #ffffff;
}
.sign {
  color: #ec5f60;
}

#intro .intro-content {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #edf0f4;
  margin-bottom: 56px;
  margin-top: 40px;
}

.start-project-btn {
  font-family: Sulphur Point;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
