footer {
    padding: 20px 0 50px 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 20px;

            img {
                float: left;
                margin-right: 20px;
            }

            .details {
                display: table;
                text-align: left;
                margin: 0;

                span {
                    display: block;
                    font-family: 'Proxima Nova';
                    font-size: 16px;
                    line-height: 21px;
                    margin-bottom: 13px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.social-media {
            text-align: right;
            direction: ltr;
            margin-bottom: 20px;

            li {
                margin-right: 10px;
                margin-bottom: 0;
                display: inline-block;

                img {
                    margin-right: 0;
                }

                &:last-child {
                    margin: 0;
                }
            }

        }
    }

    .footer-rights {
        text-align: right;
        font-family: 'Proxima Nova';
        font-size: 11px;
        line-height: 18px;
        color: #757575;
    }
}