footer {
    padding: 20px 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 20px;

            img {
                float: left;
                margin-right: 20px;
            }

            .details {
                display: table;
                text-align: left;
                margin: 0;

                span {
                    display: block;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.social-media {
            text-align: left;

            li {
                margin-right: 10px;
                margin-bottom: 0;
                display: inline-block;

                img {
                    margin-right: 0;
                }

                &:last-child {
                    margin: 0;
                }
            }

        }
    }
}