body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gtera-btn,
.gtera-btn:hover,
.gtera-btn:focus {
  width: 174px;
  height: 56px !important;
  background: #ec5f60 !important;
  border-radius: 50px !important;
  border: unset !important;
  color: white !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Milliard-Book.woff2") format("woff2"),
    url("./fonts/Milliard-Book.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/Metropolis-Bold.woff2") format("woff2"),
    url("./fonts/Metropolis-Bold.woff") format("woff");
}
